* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

body {
    background-color: skyblue;
}

p {
    font-size: 3em;
    text-align: center;
}

h1 {
    font-size: 4em;
    
}

h2 {
    font-size: 2.5em;
}

.button {
    margin: 10px;
    padding: 10px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}

.game {
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    background:  url() bottom center no-repeat;
    }

.hole {
    flex: 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    display: block;
    background:  url(/whakamole/images/dirt.svg) bottom center no-repeat;
    background-size: contain;
    width: 100%;
    height: 70px;
    content: '';
    bottom: -15px;
    position: absolute;
    z-index: 2;

}

.mole {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    top: 100%;
    transition: top 0.5s;
    background:  url(/whakamole/images/mole5.svg) bottom center no-repeat;
}

.nick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    top: 100%;
    transition: top 0.5s;
    background:  url(/whakamole/images/nick3.svg) bottom center no-repeat;
}

.claire {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    top: 100%;
    transition: top 0.5s;
    background:  url(/whakamole/images/claire.svg) bottom center no-repeat;
}

.mike {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    top: 100%;
    transition: top 0.5s;
    background:  url(/whakamole/images/mike.svg) bottom center no-repeat;
}

.hole.up .mole {
    top: 0;
}

.splat {
    position: absolute;
    z-index:10;
    width: 100%;
    height: 100%;
    background:  url(/whakamole/images/splat.png) bottom center no-repeat;
    background-size: contain;
}


.hidden {
    visibility: hidden;
}

.message {
    margin-top: 1em;
}